@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    @apply hidden xl:inline-flex p-2 h-10 w-10 bg-gray-200 rounded-full text-gray-700 cursor-pointer hover:bg-gray-300;
  }

  .inputIcon {
    @apply flex items-center space-x-1 hover:bg-gray-100 justify-center p-2 rounded-xl cursor-pointer;
  }

  .navBtn {
    @apply hidden h-6 md:inline-flex cursor-pointer transition hover:scale-125 transition-all duration-150 ease-out;
  }

  .card {
    @apply bg-gray-200 p-4 lg:p-8 rounded-lg
  }
  
  .list{
    @apply p-2 relative h-full w-full text-center flex flex-col place-items-center
  }

}

.chart-pic{
  @apply lg:p-2 hover:scale-110 transition 
}

.postBtn {
  @apply h-8 hover:scale-125 cursor-pointer transition-all duration-150 ease-out;
}

.bg2 {
  background: linear-gradien /*#131b33*/ #111827 0 50%, black 50% 100%;
  background-size: 400% 400%;
  animation: gradient 8.2s ease infinite;
}

.loading {
  background: linear-gradient(
    -45deg,
    /*#131b33*/ #111827 0 50%,
    black 50% 100%
  );
  background-size: 400% 400%;
  animation: gradient 8.2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg {
  background-color: #111827;
}

.bg-container {
  background-color: #111827;
  @apply px-20 text-white min-w-full min-h-screen
}

.chart {
  @apply h-[65vh]
}

.react-chatbot-kit-chat-container {
  @apply bg-red-200

}


.react-chatbot-kit-chat-inner-container {
  background-image: #111827;
}


/* background gradient */
.bg-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes multigradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

button {
  color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.warning-message {
  @apply text-white text-center animate-pulse text-yellow-800
}