html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  size: 100px;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.bg {
    /*background-image: url("/dark.png");*/

    /* Full height */
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.auth {
  /*position: fixed;*/
  background-color: #21212e; 
  height: 100vh;
  width: 100;
}

.center {
  margin-left: 5rem;
  padding-top: 5rem;
  /*padding-left: 1rem;*/
  text-align: center;
  color: var(--text-primary);
  /*height: 100vh;*/
  /*position: fixed;*/
  /*width: 100%;*/
}

body {
  padding: 0rem;
  color: var(--bg-primary);
  margin-left: 0rem;
  background-color: white;
}